{% args photoresistor_value, photoresistor_percent, r, g, b %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyprich - Uloha 3 - VVS</title>
    <meta name="author" content="Peter Cyprich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="width: 100vw; height: 100vh; background: #eee; margin: 0; padding: 2em; display: flex; flex-direction: column">
    <h1>Uloha 3</h1>
    <h3>Vyvoj Vstavanych Systemov - Peter Cyprich</h3>
    <div style="background: #ddd; padding: 1em;">
        <div style="display: flex; align-items: center; gap: 2em">
            <p>Photoresistor value: {{photoresistor_value}} ({{photoresistor_percent}}%)</p>
            <a href="/photoresistor"><button>Update</button></a>
        </div>
        <div>
            <p>r: {{r}}</p>
            <p>g: {{g}}</p>
            <p>b: {{b}}</p>
        </div>
    </div>
</body>
</html>