{% args photoresistor_value, photoresistor_percent, rgb_r, rgb_g, rgb_b, serial_1_r, serial_1_g, serial_1_b, serial_2_r, serial_2_g, serial_2_b, serial_3_r, serial_3_g, serial_3_b, buzzer, buzzer_volume %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyprich - Uloha 3 - VVS</title>
    <meta name="author" content="Peter Cyprich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            font-family: arial, sans-serif;
        }

        .peripherals {
            background: #ddd;
            padding: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .peripherals > div {
            background: #ccc;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            padding: 1em;
        }

        .peripherals form {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .peripherals form input[type="submit"] {
             width: max-content
        }
    </style>
</head>
<body style="width: 100vw; height: 100vh; background: #eee; margin: 0; padding: 2em; display: flex; flex-direction: column">
<h1>Uloha 3</h1>
<h3>Vyvoj Vstavanych Systemov - Peter Cyprich</h3>
<div class="peripherals">
    <div>
        <h2>RGB LED diode</h2>
        <form action="rgb_led_form">
            <label for="rgb_r">
                Value of Red channel [%]
                <input type="number" name="rgb_r" id="rgb_r" value="{{rgb_r}}" min="0" max="100">
            </label>
            <label for="rgb_g">
                Value of Green channel [%]
                <input type="number" name="rgb_g" id="rgb_g" value="{{rgb_g}}" min="0" max="100">
            </label>
            <label for="rgb_b">
                Value of Blue channel [%]
                <input type="number" name="rgb_b" id="rgb_b" value="{{rgb_b}}" min="0" max="100">
            </label>
            <input type="submit" value="Update">
        </form>
    </div>
    <div>
        <h2>Serial LED</h2>
        <form action="serial_form">
            <div>
                <p>Serial LED #1</p>
                <label for="serial_1_r">
                    R <input type="number" name="serial_1_r" id="serial_1_r" value="{{serial_1_r}}" min="0" max="100">
                </label>
                <label for="serial_1_g">
                    G <input type="number" name="serial_1_g" id="serial_1_g" value="{{serial_1_g}}" min="0" max="100">
                </label>
                <label for="serial_1_b">
                    B <input type="number" name="serial_1_b" id="serial_1_b" value="{{serial_1_b}}" min="0" max="100">
                </label>
            </div>
            <div>
                <p>Serial LED #2</p>
                <label for="serial_2_r">
                    R <input type="number" name="serial_2_r" id="serial_2_r" value="{{serial_2_r}}" min="0" max="100">
                </label>
                <label for="serial_2_g">
                    G <input type="number" name="serial_2_g" id="serial_2_g" value="{{serial_2_g}}" min="0" max="100">
                </label>
                <label for="serial_2_b">
                    B <input type="number" name="serial_2_b" id="serial_2_b" value="{{serial_2_b}}" min="0" max="100">
                </label>
            </div>
            <div>
                <p>Serial LED #3</p>
                <label for="serial_3_r">
                    R <input type="number" name="serial_3_r" id="serial_3_r" value="{{serial_3_r}}" min="0" max="100">
                </label>
                <label for="serial_3_g">
                    G <input type="number" name="serial_3_g" id="serial_3_g" value="{{serial_3_g}}" min="0" max="100">
                </label>
                <label for="serial_3_b">
                    B <input type="number" name="serial_3_b" id="serial_3_b" value="{{serial_3_b}}" min="0" max="100">
                </label>
            </div>
            <input type="submit" value="Update">
        </form>
    </div>
    <div>
        <h2>Buzzer</h2>
        <p>Play melodies with buzzer</p>
        <form action="buzzer_form">
            <label for="buzzer_1">
                <input type="radio" name="buzzer" id="buzzer_1" value="1" checked>
                Star Trek intro
            </label>
            <label for="buzzer_2">
                <input type="radio" name="buzzer" id="buzzer_2" value="2">
                Silent Night
            </label>
            <label for="buzzer_3">
                <input type="radio" name="buzzer" id="buzzer_3" value="3">
                Pacman
            </label>
            <label for="buzzer_4">
                <input type="radio" name="buzzer" id="buzzer_4" value="4">
                Ode an die Freude
            </label>
            <label for="buzzer_5">
                <input type="radio" name="buzzer" id="buzzer_5" value="5">
                Star Wars theme
            </label>
            <label for="buzzer_volume" style="display: flex; align-items: center">
                Volume
                <input type="range" name="buzzer_volume" id="buzzer_volume" min="0" max="1000" value="{{buzzer_volume}}">
            </label>
            <input type="submit" value="Play">
        </form>
    </div>
    <div>
        <h2>Photoresistor</h2>
        <p>Measured value: {{photoresistor_value}} ({{photoresistor_percent}}%)</p>
        <a href="/photoresistor">
            <button>Update</button>
        </a>
    </div>
</div>
</body>
</html>